header
    {
        background-color: #ffffff;
        border: #ffffff;
    }

body
    {
        background-color: #ffffff;
        border: #dddddd
    }

h1
    {
        background-color: #4aaaa5;
        color: white;
        width: 158px;
        padding: 5px
    }

h2
    {
        color: #4aaaa5;
    }

.container
    {
        width: 960px;
        margin: 0 auto;
    }