
header
    {
        background-color: white;
        border-bottom: solid thick black;
        
    }



body
    {
        background-image: url("background.png");
        background-repeat: repeat;
        margin: 0 0;
     }

h1
    {
        background-color: #4aaaa5;
        color: white;
        width: auto;
        padding: 10px;
        font-family:Georgia, Times, Times New Roman, serif;
        margin-left: 232px;
       
    }

h2
    {
        color: #4aaaa5;
        font-family: Georgia, Times, Times New Roman, serif;
        margin-top: 60px;
        
       
    }

.line {
    border-left: solid thick black;
}

.container
    {
        width: 960px;
        margin: 0 auto;
        margin-bottom: 33px;
    }
h1, h3
    {
        display: inline-block;
    }

h3  
    {
        float: right;
        width: 7%;
        margin-top: 3%;
        
    }

img
    {
        
        padding-right: 20px;
        background: white;
        margin-top: 10px;
    }

footer
    {   background-color: grey;
        margin-top: 80px;
        text-align: center;
        padding: 30px;
        margin-bottom: 0;
        border-top: solid thick black;
        position: fixed;
        width: 100%;
    }


 #cat
    {
        width: 250px;
        background-color: teal;
        color: white;
        text-align: center;
        position: absolute;
        bottom: 400px;
       
    }

#sky-game
    {
        width: 250px;
        background-color: teal;
        color: white;
        text-align: center;
        position: absolute;
        right: 660px;
        bottom: 400px;
    }

#wiz-tab
    {
        width: 250px;
        background-color: teal;
        color: white;
        text-align: center;
        position: absolute;
        right: 390px;
        bottom: 400px;
    }

#lamp
    {
        width: 250px;
        background-color: teal;
        color: white;
        text-align: center;
        position: absolute;
       bottom: 190px;
    }

#nature
    {
        width: 250px;
        background-color: teal;
        color: white;
        text-align: center;
        position: absolute;
        right: 660px;
        bottom: 190px;
    }
.bio
    {
        background: white;
    }


.text
    {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    
    }

.picMargin
    {
        margin-left: 20px;
        padding-bottom: 20px;
    }

.clearfix::after 
    {
        content: "";
        display: block;
        clear: both;
    }

#pic1
    {
        float: left;
       
    }

#pic2
    {
        float: left;
      
    }

#pic3
    {
        float: left;
    }

#pic4
    {
        float: left;
    }

#pic5
    {
        float: left;
    }


